<h1>
  Author: <%= @message.author %>
</h1>
<h2>
  On: <%= @message.created_at %>
</h2>

<% if @message.url %>
<p>
  <%= @message.url %>
</p>
<% end %>
<p>
  <%= @message.content  %>
</p>

<hr/>
<a href="/messages/<%= @message.author %>">More from this author</a>
<a href="/messages">Back to All Messages</a>